/dev/pvrsrvkm          0666    system    graphics
/dev/pvr_sync          0666    system    graphics
/dev/rtpmcall          0666    system    system
/dev/composer          0666    system    graphics
/dev/vcd_mem           0666    system    audio
/dev/video0            0666    system    graphics
/dev/video1            0666    system    graphics
/dev/i2c-*             0666    system    graphics
/dev/rtds_mem          0666    system    graphics
/dev/ion               0660    system    graphics
/dev/iccom             0666    system    graphics
/dev/rtds_rcvry        0666    system    graphics
/dev/audio_test        0666    system    audio
/dev/zb3ctrl           0666    system    system
/dev/ttySC0            0660    root      system
/dev/ttySC4            0600    bluetooth bluetooth
/dev/ttySC5            0660    root      system
/dev/ttyGS0            0660    root      system
/dev/ttyGS1            0660    root      system
/dev/sectz             0660    root      system
/dev/pn544             0770    nfc       nfc
# NV access
/dev/block/mmcblk0p1   0770    radio     system
/dev/block/mmcblk0p11  0660    system    root
/dev/mtd/mtd_trace     0660    system    system
/dev/ttySTM0           0660    system    system
# SYSTEM Status
/dev/block/mmcblk0p8        0660   system     root
